.dashboard1 {
    background-color: rgba(74, 163, 223, 1);
    overflow: auto;
    /* Permettre le défilement */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content1 {
    display: flex;
    gap: 20px;
    flex: 1;
    overflow: hidden;
    height: auto;
}

.sidebar1 {
    width: 18%;
    height: 100%;
    /* S'assure que la sidebar occupe toute la hauteur */
}

.userProfile1 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font: 16px Nunito, sans-serif;
}

.profileWrapper1 {
    position: relative;
    aspect-ratio: 2.786;
    padding: 60px 62px 10px;
}

.profileBackground1 {
    position: absolute;
    inset: 0;
    height: 70%;
    width: 100%;
}

.menuBackground1 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar1 {
    aspect-ratio: 1;
    width: 45px;
    box-shadow: 0 4px 4px rgba(251, 195, 114, 1);
    border-radius: 50%;
    position: relative;
}

.userInfo1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -45px;
    margin-left: 60px;
}

.userName1 {
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    font: 18px Nunito, sans-serif;
}

.userId1 {
    font-weight: 800;
    font-size: 16px;
}

.menuItem1 {
    position: relative;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    border: 3px solid rgba(254, 147, 170, 1);
    aspect-ratio: 4.955;
    margin-top: 171px;
    padding: 9px 15px;
    color: #fffdfd;
    font-weight: 1000;
    width: 255px;
}

.logoutWrapper1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 280px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-right: 30px;
}

.logoutIcon1 {
    width: 31px;
    aspect-ratio: 1;
}

.mainContent1 {
    width: 100%;
    background-color: rgb(254, 147, 170);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    /* Ajuster la hauteur */
    overflow-y: auto;
    /* Permettre le défilement vertical */
}

.contentWrapper1 {
    border-radius: 5px;
    background-color: rgb(254, 147, 170);
    box-shadow: 0 59px 17px rgba(0, 19, 51, 0);
    padding: 30px 80px;
}

.chapterTitle1 {
    color: #fff;
    text-align: center;
    font-family: 'Salsa', sans-serif;
    letter-spacing: 1px;
    font-size: 45px;
    text-shadow:
        1px 1px 0 rgba(148, 24, 85, 1),
        -1px -1px 0 rgba(148, 24, 85, 1),
        1px -1px 0 rgba(148, 24, 85, 1),
        -1px 1px 0 rgba(148, 24, 85, 1),
        1px 0 0 rgba(148, 24, 85, 1),
        -1px 0 0 rgba(148, 24, 85, 1),
        0 1px 0 rgba(148, 24, 85, 1),
        0 -1px 0 rgba(148, 24, 85, 1);
    margin-top: 6px;
}

.cardContainer1 {
    display: flex;
    gap: 20px;
    margin-top: 52px;
}

.courseCard1,
.quizCard1 {
    border-radius: 13px;
    background-color: rgb(115, 219, 213);
    box-shadow: 0 4px 4px rgb(238, 238, 238);
    padding: 4px 0 20px;
    width: 300px;
    height: 200px;
    margin-top: 100px;
}

.courseCard1 {
    margin-left: -40px;
}

.cardHeader1 {
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    margin-right: 20px;
}

.circleDecoration1 {
    background-color: rgb(87, 209, 202);
    border-radius: 50%;
}

.cardTitle1 {
    color: #000;
    text-align: center;
    font: 700 28px Nunito, sans-serif;
    margin: 4px -3px 20px;
}

.quizTitle1 {
    color: #000;
    text-align: center;
    font: 700 48px Nunito, sans-serif;
    margin: 23px 0;
}

.decorationContainer1 {
    display: flex;
    gap: 17px;
    margin-top: -31px;
}

.btn1 {
    background-color: transparent;
    border-color: transparent;
}

.btn1:hover {
    background-color: transparent;
}

@media (max-width: 1568px) {
    .menuBackground1 {
        height: 95%;
        width: 95%;
    }

    .menuItem1 {
        height: 100%;
        width: 100%;
    }
}

/* Responsive pour écrans plus petits */
@media (max-width: 968px) {
    .logoutWrapper1 {
        justify-content: center;

        margin-top: 600px;
    }

    .menuItem1 {
        border: transparent;
        color: transparent;
        text-shadow: none;
    }

    .menuBackground1 {
        opacity: 0%;
        /* Rendre l'image de fond semi-transparente */
        border: transparent;
    }

    .dashboard1 {
        flex-direction: column;
        align-items: center;
    }

    .content1 {
        flex-direction: column;
        width: 100%;
    }

    .sidebar1 {
        width: 100%;
        height: 200px;
    }

    .menuItem1 {
        width: 90%;
        margin: 10px auto;
    }

    .mainContent1 {
        width: 100%;
        padding: 20px;
        height: auto;
        min-height: 10vh;
    }

    .cardContainer1 {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .btn1 {
        width: 100%;
    }

    .courseCard1,
    .quizCard1 {
        width: 100%;
        height: auto;
    }

    .chapterTitle1 {
        font-size: 35px;
        text-align: center;
    }
}