/* Styling the entire header */
.landingPage {
  z-index: 2;
  position: relative;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 102, 178, 1);
  color: white;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.head {
  margin-top: -14px;
  z-index: 2;
  width: 100%;

}

/* Styling the logo */
.Logo {
  height: 60px;
  object-fit: contain;
  z-index: 2;
}

/* Styling the navigation menu */
.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar .item {
  font-size: 25px;
  gap: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar .item:hover {
  color: #f1c40f;
}

/* Language dropdown */
.language-dropdown {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.language-dropdown:hover {
  color: #f1c40f;
}

/* Styling the social media icons */
.icon {
  display: flex;
  gap: 15px;
}

.icon img {
  height: 36px;
  width: 36px;
  border-radius: 5%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon img:hover {
  transform: scale(1.1);
}

/* Ensuring responsiveness */
@media (max-width: 1024px) {

  /* For tablets and below */
  .header {
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
  }

  .navbar {
    order: 2;
    margin: 10px 0;
    width: 100%;
    justify-content: center;
  }

  .icon {
    order: 3;
    justify-content: center;
  }

  .Logo {
    order: 1;
    margin-bottom: 10px;
    height: 50px;
  }

  .navbar ul {
    gap: 30px;
  }

  .navbar .item {
    font-size: 20px;
  }

  .language-dropdown {
    font-size: 20px;
  }

  .icon img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 768px) {

  /* For smaller tablets and phones */
  .header {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }

  .navbar {
    order: 2;
    margin: 10px 0;
    width: 100%;
  }

  .icon {
    order: 3;
    justify-content: center;
    margin-top: 10px;
  }

  .Logo {
    order: 1;
    margin-bottom: 15px;
    height: 50px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar .item {
    font-size: 18px;
  }

  .language-dropdown {
    font-size: 18px;
  }

  .icon img {
    height: 28px;
    width: 28px;
  }
}